@*@model IEnumerable<TIEB.Models.Expense>*@
@model PagedList.IPagedList< TIEB.Models.Expense>
@using TIEB.Models;
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GİDERLERİM</h2>
<head>
    <style type="text/css">
        .column {
            float: left;
            width: 250px;
        }
    </style>
</head>

<p>
    @Html.ActionLink("Gider Ekle", "Create")
</p>

<div class="form-group pull-right">
    
    @Html.Label("Arama Kriteri", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("searchType", new List<SelectListItem>
                {
                    
                    new SelectListItem{ Text="Harcama Türüne Göre Arama", Value="ExpenseTypeSearch"},
                    new SelectListItem{ Text="Ödeme Tipine Göre Arama", Value="PaymentSearch"},
                    new SelectListItem{ Text="Banka Adına Göre Arama", Value="BankSearch"},
                    new SelectListItem{ Text="Credi Kartına Göre Arama", Value="CreditSearch"},
                    new SelectListItem{ Text="Miktara Göre Arama", Value="AmountSearch"},
                    new SelectListItem{ Text="Tarihe Göre Arama", Value="DateSearch"},
                    new SelectListItem{ Text="Diğer Harcama Türüne Göre Arama", Value="OtherExpenseTypeSearch"}

                }, "--- Seçiniz ---", new { @class = "form-control" })
        @Html.ValidationMessage("searchType", "", new { @class = "text-danger" })
    </div>
</div>
<br /><br /><br />
<p class="pull-left column">
    @Html.ActionLink("Listeyi Yenile", "Index")
</p>
<p class="column">
    Toplam : @ViewBag.TOTAL
</p>
@using (Html.BeginForm())
{

    <div class="pull-right" id="form-search1" hidden>
        <b>Harcama Türüne Göre Arama Yap:</b> 
        @Html.TextBox("SearchString1",ViewBag.CurrentFilter as string)
        <input type="submit" value="Arama Yap" id="search"/>
    </div>
    <div class="pull-right" id="form-search2" hidden>
        <b>Ödeme Tipine Göre Arama Yap:</b> 
        @Html.TextBox("SearchString2", ViewBag.CurrentFilter as string)
        <input type="submit" value="Arama Yap" id="search" />
    </div>
    <div class="pull-right" id="form-search3" hidden>
        <b>Banka Adına Göre Arama Yap:</b> 
        @Html.TextBox("SearchString3", ViewBag.CurrentFilter as string)
        <input type="submit" value="Arama Yap" id="search" />
    </div>
    <div class="pull-right" id="form-search4" hidden>
        <b>Credi Kartına Göre Arama Yap:</b> 
        @Html.TextBox("SearchString4", ViewBag.CurrentFilter as string)
        <input type="submit" value="Arama Yap" id="search" />
    </div>
    <div class="pull-right" id="form-search5" hidden>
        <b>Diğer Harcama Türüne Göre Arama Yap:</b>
        @Html.TextBox("SearchString5", ViewBag.CurrentFilter as string)
        <input type="submit" value="Arama Yap" id="search" />
    </div>
    <div class="pull-right" id="form-between-date" hidden>
        <b>İki Tarih Arası Arama:</b> 
        @Html.TextBox("date1", ViewBag.CurrentFilter1 as string)
        @Html.TextBox("date2", ViewBag.CurrentFilter2 as string)
        <input type="submit" value="Arama Yap" id="search" />
    </div>
    <div class="pull-right" id="form-between-amount" hidden>
        <b>Miktarlar Arası Arama:</b>
        @Html.TextBox("amount1", ViewBag.CurrentFilter1 as string)
        @Html.TextBox("amount2", ViewBag.CurrentFilter2 as string)
        <input type="submit" value="Arama Yap" id="search" />
    </div>
}
<br /><br /><br />
@using (Html.BeginForm("Index", "Expenses", FormMethod.Post))
{
    <table class="table" style="text-align:center" >
        <tr >
            <th style="text-align:center">
                @Html.ActionLink("Harcama Türü", "Index", new { Sorting_Order = ViewBag.SortingExpenseName , currentFilter=ViewBag.CurrentFilter})
            </th>

            <th style="text-align:center">
                @Html.ActionLink("Ödeme Tipi", "Index", new { Sorting_Order = ViewBag.SortingPaymentType, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Banka", "Index", new { Sorting_Order = ViewBag.SortingBank, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th style="text-align:center">
                @Html.ActionLink("Credi Kart", "Index", new { Sorting_Order = ViewBag.SortingCredit, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th style="color:steelblue; text-align:center">
                @Html.DisplayName("Taksit Bilgileri")
            </th>
            <th style="text-align:center">
                @Html.ActionLink("Miktar", "Index",  new { Sorting_Order = ViewBag.SortingAmount, currentFilter1 = ViewBag.CurrentFilter1 , currentFilter2 = ViewBag.CurrentFilter2 })
            </th>
            <th style="text-align:center">
                @Html.ActionLink("Tarih", "Index",  new { Sorting_Order = ViewBag.SortingDate, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
            </th>
            <th style="text-align:center">
                <div>
                    @Html.ActionLink("Ödeme Bilgisi", "Index", new { Sorting_Order = ViewBag.SortingPaymentInfo, currentFilter = ViewBag.CurrentFilter })
                </div>
                <div>
                    @Html.ActionLink("Ödendi", "Index", new { Sorting_Order = ViewBag.SortingPaid, currentFilter = ViewBag.CurrentFilter }) | 
                    @Html.ActionLink("Ödenmedi", "Index", new { Sorting_Order = ViewBag.SortingNotPaid, currentFilter = ViewBag.CurrentFilter })
                </div>
            </th>
            <th style="text-align:center">
                @Html.ActionLink("Diğer Harcama Türü", "Index", new { Sorting_Order = ViewBag.SortingExplanation, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>
        @{
            var name = Session["UserName"] as Persons;
            if(name == null){ return; }
        }

    @foreach (var item in Model.Where(x => x.PersonID == name.PersonID))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseType1.ExpenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankCartType.BankCartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCartType.CreditCartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstallmentInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explanation)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id=item.ExpenseID }) |
                @Html.ActionLink("Detay", "Details", new { id=item.ExpenseID }) |
                @Html.ActionLink("Sil", "Delete", new { id=item.ExpenseID })
            </td>
        </tr>
    }

    </table>
}
<br /><br />
@(Html.Raw(ViewBag.HtmlStr)) sonuç
<br />
Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page,sortOrder=ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 }))



@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#searchType").change(function () {
                    var value = $(this).val();
                    $.ajax({
                        url: '/Expenses/SearchType',
                        type: 'POST',
                        dataType: 'json',
                        data: { 'value': value },
                        success: function (data) {
                            
                            if (data.Message == "AppearPayment") {
                                $("#form-between-amount").hide();
                                $("#form-between-date").hide();
                                $("#form-search1").hide();
                                $("#form-search2").show();
                                $("#form-search3").hide();
                                $("#form-search4").hide();
                                $("#form-search5").hide();
                            }
                            else if (data.Message == "AppearAmount") {
                                $("#form-between-amount").show();
                                $("#form-between-date").hide();
                                $("#form-search1").hide();
                                $("#form-search2").hide();
                                $("#form-search3").hide();
                                $("#form-search4").hide();
                                $("#form-search5").hide();
                            }
                            else if (data.Message == "AppearDate") {
                                $("#form-between-amount").hide();
                                $("#form-between-date").show();
                                $("#form-search1").hide();
                                $("#form-search2").hide();
                                $("#form-search3").hide();
                                $("#form-search4").hide();
                                $("#form-search5").hide();
                            }
                            else if (data.Message == "AppearExpenseT") {
                                $("#form-between-amount").hide();
                                $("#form-between-date").hide();
                                $("#form-search1").show();
                                $("#form-search2").hide();
                                $("#form-search3").hide();
                                $("#form-search4").hide();
                                $("#form-search5").hide();
                            }
                            else if (data.Message == "AppearBank") {
                                $("#form-between-amount").hide();
                                $("#form-between-date").hide();
                                $("#form-search1").hide();
                                $("#form-search2").hide();
                                $("#form-search3").show();
                                $("#form-search4").hide();
                                $("#form-search5").hide();
                            }
                            else if (data.Message == "AppearCredit") {
                                $("#form-between-amount").hide();
                                $("#form-between-date").hide();
                                $("#form-search1").hide();
                                $("#form-search2").hide();
                                $("#form-search3").hide();
                                $("#form-search4").show();
                                $("#form-search5").hide();
                            }
                            else if (data.Message == "AppearOtherExpenseT") {
                                $("#form-between-amount").hide();
                                $("#form-between-date").hide();
                                $("#form-search1").hide();
                                $("#form-search2").hide();
                                $("#form-search3").hide();
                                $("#form-search4").hide();
                                $("#form-search5").show();
                            }
                        }

                    });
                });
            });
    </script>
}